.heading {
  margin-bottom: 6vw;
}

.paragraph {
  max-width: 33em;
  margin: 2rem 0;
}

.paragraph a {
  text-decoration: underline;
}

.team {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6rem;
}

.member {
  display: flex;
  flex-direction: column;
}

.member img {
  width: 100%;
  object-fit: cover;
  object-position: 0 25%;
  height: auto;
  aspect-ratio: 1;
  border-radius: 1rem;
  margin-bottom: 1.5rem;
}

.teamPhoto {
  width: 100%;
  height: auto;
  aspect-ratio: 2/1;
  border-radius: 1rem;
  object-fit: cover;
  grid-column: span 2;
}

.member h4 {
  margin-bottom: 1rem;
}

@media (max-width: 64em) {
  .team {
    gap: 3rem 1.5rem;
  }

  .member img {
    border-radius: 0.5rem;
    margin-bottom: 1rem;
  }
  .member h4 {
    margin-bottom: 0.5rem;
  }
}
