.container {
  min-height: calc(100vh - 7rem);
  padding: 5.5vw 12.5vw 5vh;
  border-bottom: 1px solid var(--dark-color);
}

.heading {
  text-transform: uppercase;
  display: flex;
  gap: 2vw;
  flex-direction: column;
  margin-bottom: 5vw;
}

.heading * {
  width: 50vw;
  height: auto;
}

.secondLine {
  margin-left: 12vw;
}

.cta {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cta p {
  max-width: 33em;
}
