.container {
  min-height: calc(100vh - 7rem);
  padding: 4vw 12.5vw;
  border-bottom: 1px solid var(--dark-color);
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: repeat(2, 1fr);
  flex-direction: column;
  align-items: center;
}

.heading {
  grid-column: span 2;
  margin: 0;
  padding-bottom: 5vw;
  font-size: 7vw;
  text-transform: uppercase;
  text-align: justify;
  width: 60%;
  height: min-content;
  line-height: 100%;
  letter-spacing: 0.15rem;
  font-weight: 600;
}

.secondLine {
  display: flex;
  align-items: center;
  gap: 2vw;
  letter-spacing: 0.49rem;
}

.secondLine span {
  line-height: 100%;
  flex-grow: 1;
}

.secondLine img {
  object-fit: cover;
  border-radius: 1rem;
  height: 5vw;
  aspect-ratio: 2/1;
  width: auto;
  /*width: 9vw;*/
}

.thirdLine {
  line-height: 100%;
  display: flex;
  gap: 2vw;
  align-items: center;
  letter-spacing: 0rem;
}

.flag {
  display: grid;
  flex-shrink: 0;
  grid-template-rows: repeat(2, 1fr);
  border-radius: 1rem;
  overflow: hidden;
  width: 3.5rem;
  height: 5vw;
}

.flag div:first-child {
  background-color: #338af3;
}
.flag div:last-child {
  background-color: #ffda45;
}

.cta {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container p {
  max-width: 33em;
}

.container button {
  width: max-content;
  justify-self: end;
}

@media (max-width: 64em) {
  .container {
    grid-template-columns: 1fr;
    min-height: auto;
    padding: 8rem 1.5rem 10rem;
  }

  .heading {
    width: 100%;
    grid-column: auto;
    font-size: 11vw;
    padding-bottom: 2rem;
  }

  .secondLine img {
    display: none;
  }

  .thirdLine {
    flex-wrap: wrap;
  }

  .ukraineText {
    width: 100%;
  }

  .flag {
    flex-grow: 1;
    height: 9vw;
  }

  .container p {
    padding-bottom: 2.5rem;
  }

  .container button {
    width: 100%;
  }
}
