.heading {
  line-height: 100%;
  margin: 10vw 12vw 6vw;
}

.secondLine {
  display: inline;
  margin-left: 2.25em;
}

.block {
  border-top: 1px solid var(--dark-color);
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  gap: 8vw;
  padding: 1.5rem 12.5vw;
}

.block h4 {
  font-size: 1.5em;
}
