.heading {
  line-height: 100%;
  margin: 10vw 12vw 6vw;
}

.secondLine {
  display: block;
  margin-left: 2.25em;
}

.block {
  border-top: 1px solid var(--dark-color);
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  gap: 8vw;
  padding: 1.5rem 12.5vw;
}

.block h4 {
  font-size: 1.5em;
}

@media (max-width: 64em) {
  .heading {
    margin: 10rem 1.5rem 1.5rem;
    font-size: 2rem;
  }
  .secondLine {
    display: initial;
    margin-left: auto;
  }

  .block {
    grid-template-columns: 1fr;
    padding: 1.5rem;
  }

  .block span {
    display: none;
  }
}
