.header {
  margin-top: 3.5rem;
  border-top: 1px solid var(--dark-color);
  border-bottom: 1px solid var(--dark-color);
  padding: 1rem;
}

.logo {
  display: block;
  margin: auto;
}

@media (max-width: 64em) {
  .header {
    border: none;
    margin-top: 2rem;
    padding: 1.5rem 1.5rem 0;
  }
  .logo {
    margin: initial;
  }
}
